.container {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.container a {
    color: lightblue;
    font-weight: bold;
    transition: .3s linear;
    text-decoration: none;
}

.container a:hover {
    color: white;
}

@media (max-width: 900px) {
    .container {
        padding: 20px
    }
}