.container {
    /* background-color: #ffffff; */
  /* background-color: rgba(0, 0, 0, .8); */
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 100px;
}

.subtitle {
    color: grey;
}

.subtitleDark {
    color: orange;
}

@media (max-width: 900px) {
    .title {
        font-size: 50px;
    }
}