.container {
    /* background-color: #ffffff; */
  /* background-color: rgba(0, 0, 0, .8); */
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 100px;
}

.subtitle {
    color: grey;
}

.subtitleDark {
    color: orange;
}

@media (max-width: 900px) {
    .title {
        font-size: 50px;
    }
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #ffffff;
    /* bgcolor: ba */
    border: 1px solid #000;
    border-radius: 15px;
    /* box-shadow: 24, */
    /* p: 4, */
}

.form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form > input {
    /* margin-right: 20px; */
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .3);
}

.form > label {
    font-weight: bold;
}