.container {
    background-color: #ffffff;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 100px;
}

.subtitle {
    color: grey;
}