.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.button {
    padding: 20px;
    font-size: 30px;
    outline: none;;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s linear;
}

.lightMode {
    background-color: white;
    color: rgba(0, 0, 128, .5);
    border: 1px solid rgba(0, 0, 128, .5)
}

.lightMode:hover {
    color: rgba(0, 0, 128);
    border: 1px solid rgba(0, 0, 128)
}

.darkMode {
    background-color: rgb(255, 165, 0, .5);
    color: #000;
}

.darkMode:hover {
    background-color: rgb(255, 165, 0, 1);
    color: #000;
}

@media (max-width: 900px) {
    .container {
        margin-bottom: 20px;
    }
    .button {
        font-size: 15px;
    }
}