.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;
    padding-block: 100px;
}

.container p {
    font-size: 30px;
    word-break: normal;
    text-justify: inter-word;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.4;
}

.punchLine {
    font-weight: bold;
}

.fakeLaugh {
    margin-top: 20px;
}