.wrapper {
    background-color: rgba(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding: 25px;
    color: #ffffff;
}

.currentPath {
    background-color: #FAA50A !important;
    color: #000 !important;
}

.link {
    color: rgba(0, 0, 128, .5);
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}
.link:hover {
    text-decoration: none;
}

.darkModeText {
    color: #000;
}

.lightMode {
    color: rgba(0, 0, 128, .5);
}


.wrapper button,
.wrapper a {
    background-color: transparent;
    border: none;
    padding: 5px 25px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #383838;    
    color: #ffffff;
    transition: .3s linear;
    text-decoration: none;
}

.wrapper button:hover {
    cursor: pointer;  
    border: 1px solid rgb(220, 220, 220);    
}

.wrapper a:hover {
    border: 1px solid rgb(220, 220, 220);
}


.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 30px;
}

.lightMode {
    background-color: #fff;
    color: #000;
}

.darkMode {
    background-color: #FAA50A;
    color: #000;
    border: 1px solid #323232
}

.form {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form > input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .3);
}

.form > label {
    font-weight: bold;
}